/* Center everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Make sure they occupy the whole space */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
/* Display the wrapper as a flexbox to make it responsive and avoid inconsistencies*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

#title {
  /* So it won't jump in size */
  transition: font-size .4s;
}

/* Card section */

.card {
  /* Element design */
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  /* Define a max width... */
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  /* ...and make it occupy it when there's enough space to do so */
  width: 100%;
}

.card-header::after {
  /* Give the header a separation line at it's bottom */
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  /* Give the footer a separation line at it's top */
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

#password {
  /* Avoid auto modeling when using chrome, mozilla, etc. */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Element modeling */
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  /* Make the pointed margin keep the same appearance all the time */
  resize: none;
  overflow: hidden;
  /* So it won't jump in size */
  transition: font-size .4s;
}

/* Button section */

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  /* So it won't jump in size */
  transition: font-size .4s, margin .4s, padding .4s;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* Responsive size changes */ 

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 23px;
  }

  /* Avoid it looking as bad design when there's not enough space for it to be at the left */
  .card .card-header {
    text-align: center;
  }
}

/* If the height changes, avoid the columns going to the sides */
@media (max-height: 520px) {
  .wrapper {
    flex-direction: row;
  }

  header {
    width: 100%;
  }
}